h1 {
    color: red;
}

.container {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: row; /* Los elementos estarán en fila */
    justify-content: space-between; /* Espacio entre la caja de mensajes y la lista de usuarios */
    height: 80vh; /* Altura relativa al viewport */
    overflow: hidden; /* Evita el desbordamiento */
}

.chatBox-container {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    max-width: 70%; /* Ancho máximo del 70% del contenedor principal */
    flex-grow: 1; /* Permite que la caja de chat crezca */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    overflow: hidden; /* Evita el desbordamiento */
}

.chatBox-container input {
    width: 100%;
    height: 20px;
    box-sizing: border-box; /* Asegura que el padding y el borde no aumenten el ancho */
}

.userBox-container {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    width: 25%; /* Ancho fijo del 25% del contenedor principal */
    overflow-y: auto; /* Añade barra de desplazamiento vertical si es necesario */
}

.mensajes {
    flex-grow: 1; /* Permite que los mensajes crezcan para llenar el espacio disponible */
    margin: 1em 0;
    padding: 1em;
    border: 1px solid black;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Añade barra de desplazamiento vertical si es necesario */
    
}

.mensajes div {
    border: 1px solid grey;
    margin: 0.4em 0;
    padding: 1em ;
    border-radius: 5px;
    word-wrap: break-word; /* Rompe las palabras largas para evitar desbordamiento */
}

.horario-mensaje {
    display: flex;
    justify-content: flex-end;
    color: grey;
    font-size: x-small;
}
