body {
    font-family: 'Arial', sans-serif;
    background-color: #e5ddd5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #075E54;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: #075E54;
    color: white;
}

h2 {
    color: #075E54;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    height: calc(100vh - 96px); /* Altura total del viewport menos la altura del header */
    overflow: hidden;
}

.chatBox-container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow: hidden;
}

.chatBox-container input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 16px;
    margin-top: 1em;
}

.userBox-container {
    flex-grow: 1;
    background-color: #fff;
    padding: 1em;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.userBox-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.userBox-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.mensajes {
    flex-grow: 1;
    margin: 1em 0;
    padding: 1em;
    background-color: #e5ddd5;
    border: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.mensajes div {
    margin: 0.4em 0;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: #dcf8c6;
    align-self: flex-start;
    max-width: 80%;
}

.mensajes div.yo {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.horario-mensaje {
    display: flex;
    justify-content: flex-end;
    color: grey;
    font-size: 12px;
}
